<nz-footer
  class="bg-gray-800 text-white flex justify-between items-center px-3 py-1.5 shadow-md dark-color"
>
  <div class="flex items-center space-x-4">
    <div class="mt-1">
      <h2 class="text-gray-300 footer text-xs mt-1">
        © 2024 Developed by Rahul Hiragond
      </h2>
    </div>
    <div class="space-x-4 mt-1">
      <a
        href="https://www.linkedin.com/in/rahul-hiragond/"
        target="_blank"
        class="text-blue-500 hover:text-blue-600"
      >
        <span nz-icon nzType="linkedin" class="text-base"></span>
      </a>
      <a
        href="https://github.com/rahul4507"
        target="_blank"
        class="text-gray-200 hover:text-gray-100"
      >
        <span nz-icon nzType="github" class="text-base"></span>
      </a>
      <a
        href="https://rahulhiragond.medium.com/"
        target="_blank"
        class="text-gray-200 hover:text-gray-100"
      >
        <span nz-icon nzType="medium" class="text-base"></span>
      </a>
    </div>
  </div>
  <div class="flex items-center">
    <a href="https://rahulhiragond-me.vercel.app/" target="_blank">
      <nz-avatar
        nzIcon="user"
        nzSrc="../../assets/me/rahulhiragond.jpg"
        class="w-7 h-7"
      ></nz-avatar>
    </a>
  </div>
</nz-footer>
